<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sexo" id="todos" value="Masculino">
                <label class="form-check-label" for="todos">Todos(5)</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sexo" id="femenino" value="Femenino">
                <label class="form-check-label" for="femenino">Femenino(3)</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="sexo" id="masculino" value="Masculino">
                <label class="form-check-label" for="masculino">Masulino(2)</label>
              </div>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            tabla
        </div>
    </div>
</div>